$main_bg_color: #252439;
$main_text_color: #aaaaba;
$nav_bg_color: #51247a;
$text_white: #fff;
$text_link: #0d6dcd;
$text_emphasis: red;
$shadow_white: 0 0 10px rgba(255, 255, 255, 0.1);
$mobile_width: 1124px;
$nav_low_padding_width: 1455px;
$pc_hide_logo_width: 1307px;
$nav_height: 10rem;
// color that brighter than 47, 47, 74
$bg_color_1: #2f2f4a;
// 2f2f4a to rgb is 47, 47, 74
$bg_color_2: #3f3f5e;
// 3f3f5e to rgb is 63, 63, 94
$bg_color_3: #4f4f72;
// 4f4f72 to rgb is 79, 79, 114
$bg_color_4: #5f5f86;
// 5f5f86 to rgb is 95, 95, 134
$base_font_size: 2.5rem;
// bright theme background color
$bg_color_5: #f5f5f5;
// darker that $bg_color_5
$bg_color_6: #e5e5e5;

$bg_color_white: #ffffff;
$max_page_width: 130rem;
$max_page_width_px: rem_to_px($max_page_width);

@function rem_to_px($rem) {
    @return $rem / 1rem * 10px; // divided by 1rem to remove the unit of $rem
}

@mixin flex_row($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin flex_row($justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin flex_column($toLeft: false) {
    display: flex;
    // align to left
    @if $toLeft {
        align-items: flex-start;
    }
    // align to center
    @else {
        align-items: center;
    }
    justify-content: center;
    flex-direction: column;
}

@mixin transition($property: all, $time: 0.5s, $ease: ease) {
    transition: $property $time $ease;
}

@mixin full_radius($height: 2rem) {
    $radius: $height / 2;
    border-radius: $radius;
}

@mixin selected_bg($color_1: $bg_color_3, $color_2: $bg_color_3, $color_3: $bg_color_3, $color_4: $bg_color_3) {
    background-image: linear-gradient(90deg, rgba($color_1, .9), rgba($color_2, .9) 60%, rgba($color_3, .3) 80%, rgba($color_4, .0));
}

@mixin bg_img($img_url) {
    background-image: url($img_url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin pages() {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: $base_font_size;
}

@mixin h2_font() {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans.ttc') format('truetype collection');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: $text_link;
}

.theme__dark {
    background-color: $main_bg_color;
    color: $main_text_color;
    @include flex_row();
}

.theme__bright {
    background-color: $bg_color_white;
    color: #000;
    @include flex_row();
}

.nav {
    @include flex_row();
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    height: $nav_height;
    background-color: $nav_bg_color;
    box-shadow: $shadow_white;
    @include transition();
}

.nav_valid_space {
    width: 200rem;
    height: 100%;
    @include flex-row(space-between);
}

.nav__logo {
    margin-left: 5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);
    @include transition();
}

@media screen and (max-width: $nav_low_padding_width) {
    .nav__logo {
        margin-left: 1rem;
    }
}

@media screen and (max-width: $pc_hide_logo_width) {
    .nav__logo {
        display: none;
    }

    .nav_valid_space {
        flex-direction: row-reverse;
    }
}

.nav__logo-text {
    font-size: 3.5rem;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: $nav_low_padding_width) {
    .nav__logo-text {
        font-size: 2.5rem;
    }
}

.nav__selections {
    @include flex_row(space-between);
    margin-right: 5rem;
    @include transition();

    .nav__decoline {
        width: 0px;
        height: 0.5rem;
        background-color: #fb503b;
        margin: 0;
        padding: 0;
        @include transition();
        @include full_radius(0.5rem);
    }

    .item {
        margin: 0 1rem;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
        @include flex_column();
    
        a {
            color: $text_white;
            padding: 0 0.5rem;
        }
    }

    .selected {
        font-weight: 700;
    }
}

@media screen and (max-width: $nav_low_padding_width) {
    .nav__selections {
        margin-right: 1rem;
    }
}

.mobile__nav {
    width: 100%;
    height: 100%;
    display: none;

    button {
        height: 5rem;
        width: 5rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 2.5rem;
        margin-top: -2.5rem;
        @include transition();
        @include full_radius(2rem);
    }
}

@media screen and (max-width: $mobile_width) {
    .nav {
        height: $nav_height / 1.5;
    }

    .nav_valid_space {
        display: none;
    }

    .mobile__nav {
        display: inline-block;
    }
}

.mobile__menu-icon {
    display: block;
    width: 3rem;
    height: 3rem;
}

.hidden {
    display: none;
}

.mobile__logo {
    width: 100%;
    height: 100%;
    @include flex_row();
}

@media screen and (max-width: 455px) {
    .nav__logo-text {
        font-size: 2rem;
    }
}

#mobile_menu_contents {
    @include transition();
}

.mobile__menu {
    display: block;
    position: fixed;
    top: $nav_height / 1.5;
    width: 100%;
    background-color: $nav_bg_color;
    border-radius: 0 0 1rem 1rem;
    padding-bottom: 1rem;
    opacity: 0;

    .item {
        width: 100%;
        padding: 1rem 1.5rem;
        margin: 0 1.5rem;
        font-size: 2rem;
        font-weight: 500;
        color: #FFF;
    }

    a {
        color: $text_white;
    }

    .selected {
        @include selected_bg($bg_color_2, $bg_color_3, $bg_color_4, $bg_color_2);
        border-radius: 7px;
    }
}

.mobile__menu-triggered {
    opacity: 1;
}

main {
    width: $max_page_width;
    @include flex_column(true);
    padding-top: $nav_height + 8rem;
}

.icon {
    color: #000000;
    vertical-align: middle;
}

.home {
    @include flex_row();
    @include pages();
    color: #000000;
    margin-bottom: 8rem;

    .left, .right {
        width: $max_page_width / 2;
        @include flex_column();
    }

    .portrait {
        height: 45rem;
        @include full_radius(4rem);
    }

    .container {
        font-size: 2rem;
        font-family: Roboto,Helvetica,Arial,sans-serif;
        // padding-left: 5rem;

        h2 {
            @include h2_font();
            padding-left: 5rem;
            padding-bottom: 1.5rem;
        }

        table {
            font-size: 2rem;
            tr {
                td {
                    padding: 1.5rem 0;
                }

                .column_1 {
                    text-align: center;
                    width: 4rem;
                }

                .column_2 {
                    padding-left: 1rem;
                }
            }
        }

        ul {
            list-style: none;
            margin: 2rem 0;
            padding: 0;
            font-size: 2.5rem;

            li {
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (max-width: $max_page_width_px) {
    .home {
        .left {
            width: 50%;
            padding-left: 1rem;
        }

        .right {
            width: 50%;
            padding-right: 1rem;
        }
    }
}

@media screen and (max-width: $mobile_width) {
    main {
        width: 100%;
        padding-top: $nav_height / 1.5 + 2rem;
    }
    .home {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        .left, .right {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .left {
            @include flex_row();
        }

        .portrait {
            max-width: 50rem;
            height: 25rem;
            margin: 0 auto 5rem auto;
        }

        .container {
            padding-left: 0;
            max-width: 90%;
            margin: 0;
            font-size: 1rem;
            h2 {
                font-size: 3rem;
                padding-bottom: 1rem;
            }

            table {
                font-size: 1.8rem;
            }

            td {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
    
            ul {
                font-size: 1.8rem;
            }
        }
    }
}

section {
    @include pages();
    margin-bottom: 5rem;
    padding-top: 2rem;
    width: 100%;
    display: block;

    ul {
        margin-top: 2rem;
        font-size: 2rem;
        // square dots
        list-style-type: square;
        // make square dots smaller
        list-style-position: inside;
        box-sizing: border-box;

        li {
            margin: 1rem 0;
        }
    }

    ol {
        margin-top: 2rem;
        font-size: 2rem;
        // decimal numbers
        list-style-type: decimal;
        // make decimal numbers smaller
        list-style-position: inside;
        box-sizing: border-box;

        li {
            margin: 1rem 0;
        }
    }
}

@media screen and (max-width: $max_page_width_px) {
    section {
        padding: 0 2rem;
    }
}

@media screen and (max-width: $mobile_width) {
    section {
        padding: 0 5%;
        max-width: 100%;
    }
}

h2 {
    @include h2_font();
    font-size: 3.5rem;
}

@media screen and (max-width: $mobile_width) {
    h2 {
        font-size: 2.2rem;
    }
}

p {
    font-size: 2rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-top: 2rem;
}

// .sections {
//     @include pages();
//     margin-bottom: 5rem;
//     display: block;

//     ul {
//         margin-top: 2rem;
//         font-size: 2rem;
//         // square dots
//         list-style-type: square;
//         // make square dots smaller
//         list-style-position: inside;
//         box-sizing: border-box;

//         li {
//             margin: 1rem 0;
//         }
//     }

//     ol {
//         margin-top: 2rem;
//         font-size: 2rem;
//         // decimal numbers
//         list-style-type: decimal;
//         // make decimal numbers smaller
//         list-style-position: inside;
//         box-sizing: border-box;

//         li {
//             margin: 1rem 0;
//         }
//     }
// }

@media screen and (max-width: $mobile_width) {
    sections {
        padding: 0 5%;
        max-width: 90%;
    }
}

.emphasis {
    color: $text_emphasis;
}

.text_xl {
    font-size: 2.5rem;
}